<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FizzFlow - Categories</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>FizzFlow - Categories</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/checkout">Checkout</a>
        </nav>
    </header>

    <h2>Items Available</h2>
    <div id="items-list" class="items-grid"></div>


    <script src="/static/js/categories.js"></script>
</body>
</html>
